.idea
.DS_Store
src/.DS_Store
src/dist
!src/dist/icon.icns
!src/dist/icon.ico
!src/dist/icon.png
src/.cache
src/node_modules
output
vendor_astilectron_bundler
cache_astilectron_bundler
bind_darwin_amd64.go
bind_windows_amd64.go
bind_linux_amd64.go
starsManagerRepo